<!-- views/partials/_header.ejs -->

<div class="container">
    <div class="heading">
        <h1 class="brand"><i class="fa fa-external-link-square" aria-hidden="true"></i>
TinyApp</h1>
        <% if (!user) {%>
                <a class="log-button" href="/login">Login</a>
                <a class="log-button" href="/register">Register</a>
        <% } else { %>
            <span>Logged in as: <%- user.email %></span>
            <form  action="/logout" method="POST">
                <input type="hidden" name="username" id="username" value="<%- user.email %>">
                <input type="submit" value="Log Out">
            </form>
        <% } %>
    </div>

</div>





