<!-- views/partials/_header.ejs -->

<div class="container">
    <div class="logo">
        <h1 class="brand"><i class="fa fa-external-link-square" aria-hidden="true"></i> TinyApp</h1>
    </div>
    <div class="heading">
        <% if (!user) {%>
            <a class="logButton" href="/login">Login</a>
            <a class="logButton" href="/register">Register</a>
        <% } else { %>
            <span>Logged in as: <%- user.email %></span>
            <form  id="logoutForm" action="/logout" method="POST">
                <input type="hidden" name="username" id="username" value="<%- user.email %>">
                <input id="logoutButton" type="submit" value="Logout">
            </form>
        <% } %>
    </div>

</div>





