<!-- views/partials/_header.ejs -->

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>

    </div>
</nav>

<%if (!username) {%>
    Please login
    <form action="/login" method="POST" style="margin:150px;">
        <input type="text" name="username" id="username" placeholder="username">
        <input type="submit" value="Login">
    </form>
<% } else { %>
    Logined in as: <%- username %>
    <form action="/logout" method="POST" style="margin:150px;">
        <input type="submit" value="Logout">
    </form>
<% } %>

