<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include partials/_head.ejs %>
    </head>
    <body class="container">
        <header>
            <% include partials/_header %>
        </header>
        <main>
            <p><%-error%></h1>
        </main>
        <footer>
             <% include partials/_footer %>
        </footer>
    </body>
</html>




