<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include partials/_head.ejs %>
    </head>
    <body class="container">
        <header>
            <% include partials/_header %>
        </header>
        <main>
            <h3>Create an account</h3>
            <form method="POST" action="/register">
                <div>
                    <label for="email">Email: </label>
                    <input id="email" type="email" name="email">
                </div>
                <div>
                    <label for="password">Password: </label>
                    <input id="password" type="password" name="password">
                </div>
                <button type="submit"><i class="fa fa-user-plus" aria-hidden="true"></i>
 Register</button>
            </form>
        </main>
        <footer>
             <% include partials/_footer %>
        </footer>

    </body>
</html>




