<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include partials/_head.ejs %>
    </head>
    <body class="container">
        <header>
            <%- include partials/_header %>
        </header>
        <main>
        <form action="/urls" method="POST">
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" value="http://">
          <input class="generateButton" type="submit" value="Generate">
        </form>
      </main>
    </body>
</html>




