<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include partials/_head.ejs %>
    </head>
    <body class="container">
        <header>
            <%- include partials/_header %>
        </header>

        <main>
        <form action="/urls" method="POST">
          <label for="longURL">Enter a URL:</label>
          <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
          <input type="submit" value="Submit">
        </form>
      </main>

        <footer>
             <% include partials/_footer %>
        </footer>

    </body>
</html>




